{% extends "home.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}
<main>
    <div class="container wrapper flex-grow-1">
        <h2 class="text-center display-5">⚽ {% translate "Matches" %} ⚽ ({{ object_list.count }})</h2>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% translate "Match date" %}</th>
                    <th>{% translate "Lineups and match information" %}
                    <th>{% translate "Team 1 goals" %}</th>
                    <th>{% translate "Team 2 goals" %}</th>
                    <th>{% translate "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for match in object_list %}
                <tr>
                    <td>{{ match.match_date }}</td>
                    <td><a href="{% url 'match_details' match.id %}">{% translate 'Match details' %}</a></td>
                    <td>{{ match.team_1_goals }}</td>
                    <td>{{ match.team_2_goals }}</td>
                    <td>
                        <a href="{% url 'match_update' match.id %}">{% translate "Update" %}</a>
                        <a href="{% url 'match_delete' match.id %}">{% translate "Delete" %}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
