{% extends "home.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}
<main>
    <div class="container wrapper flex-grow-1">
        <h2 class="text-center display-5">⚽ {% translate "Manual team creation" %} ⚽</h2>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% translate "Player name (average skill)" %}</th>
                    <th>{% translate "Team" %}</th>
                    <th>{% translate 'skills' %}</th>
                    <th>{% translate "Role on the field" %}</th>
                    <th>{% translate "Actions" %}</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for player in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'player_details' player.id %}">{{ player }}</a>
                    </td>
                    <td>{{ player.team_name }}</td>
                    <td>
                        {% translate 'DEF:' %} {{ player.def_skill }} , 
                        {% translate 'FRW:' %} {{ player.frw_skill }} ,
                        {% translate 'GK:' %} {{ player.gk_skill }} .
                    </td>
                    <td>{{ player.role_name }}</td>
                    <td>
                        <form action='{% url "change_team" player.id %}' method="post">
                            {% csrf_token %}
                            {% translate "Change team" as button_name %}
                            {% bootstrap_button button_name button_type="submit" button_class="btn btn-primary" %}
                        </form>                       
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action='{% url "manual_teams" %}' method="post">
            {% csrf_token %}
            {% translate "Save match" as button_name %}
            {% bootstrap_button button_name button_type="submit" button_class="btn btn-primary" %}
        </form>
        <a class="btn btn-primary" href="{% url 'match_create_manually' %}">{% translate 'Create match' %}</a>
        <a class="btn btn-danger" href="{% url 'clear_roster' %}">{% translate 'Clear roster' %}</a>
    </div>
</main>
{% endblock %}
